
::selection{
    display: none;
}
::-webkit-scrollbar{
    display: none;
}
:root{
    --overpass:'Overpass', sans-serif;
    --ubuntu:'Ubuntu', sans-serif;
    --vlgred:hsl(13, 100%, 72%);
    --lgred:hsl(353, 100%, 62%);
    --vdblue:hsl(208, 49%, 24%);
    --vdgblue:hsl(237, 17%, 21%);
    --gblue:hsl(240, 2%, 79%);
    --vdsatblue:hsl(237, 23%, 32%);
}
*::after,*::before{
    box-sizing: border-box;
}
*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
button, li:hover{
    cursor: pointer;
}
li:hover{
    text-decoration: underline;
}
.cont1{
    font-family: var(--ubuntu);
    position: relative;
    color: white;
    background: linear-gradient(to right,var(--vlgred),var(--lgred));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 0 0 8rem;
    z-index: 1;
    overflow-y: hidden;
}
.cont1 #deskbg{
    position: absolute;
    top: -30rem;
    left: 25rem;
    z-index: -1;
    transform: scale(2.1);
    max-width: 100%;
    height: auto;
}
.cont1 #mobbg{
    display: none;
}
.cont1 .navbar{
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3.5rem;
}
.cont1 .navbar .mobmenu{
    display: none;
}
.cont1 .navbar ul .logo{
    margin-right: 3rem;
}
.cont1 .navbar ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.cont1 .navbar li{
    display: inline-block;
    padding: 20px;
}
.cont1 .btn{
    color: white;
    margin-left: 1rem;
    font-size: 1.1rem;
    border: none;
    padding: 15px 0;
    width: 9rem;
    border-radius: 30px;
}
.cont1 .navbar #loginbtn{
    padding: 5px;
    width: fit-content;
    border: none;
    background-color: transparent;
}
.cont1 #signupbtnandstforfree{
    color: var(--lgred);
}
.cont1 h1,.cont1 p{
    text-align: center;
}
.cont1>h1{
    font-weight: 500;
    font-size: 4rem;
    margin-top: 4rem;
}
.cont1>p{
    font-family: var(--overpass);
    font-size: 1.3rem;
    margin-top: 1.5rem;
}
.cont1>.btns{
    margin-top: 3rem;
    padding-bottom: 11rem;
    text-align: center;
    /* border: 2px solid purple; */
}
.cont1 .btns p{
    font-weight: 700;
}
.cont1 #lnmore{
border: 2px solid white;
background-color: transparent;
}
#lnmore:hover{
    color: var(--lgred);
    background-color: white;
}
.cont2{
    /* margin-bottom: 2rem; */
    font-family: var(--ubuntu);
    margin-top: 3rem;
    position: relative;
    padding: 4rem 4.5rem;
    padding-bottom: 13rem;
    overflow-y: hidden;
    /* height: 882px; */
    /* background: url(images/illustration-editor-desktop.svg);
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: 50rem; */
}
.cont2 h2{
    font-size: 3rem;
    text-align: center;
    color: var(--vdsatblue);
}
.cont2 .sideimg{
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
}
.cont2 #mobill{
    display: none;
}
.cont2 .text{
    font-family: var(--overpass);
    width: 50%;
    padding: 1rem;
}
.cont2 .text h3{
    font-size: 2.4rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    color: var(--vdsatblue);
}
.cont2 .text p{
    line-height: 1.8rem;
    font-size: 1.2rem;
    color: var(--vdblue);
}
.wrapper{
    position: absolute;
    top: 97rem;
    width: 507px;
    height: 509px;
    overflow-y: hidden;
}
@media screen and (max-width:1152px){
    .wrapper{
        top: 107rem;
    }
}
@media screen and (max-width:950px){
    .wrapper{
        top: 115rem;
    }
}
.phones{
    position: absolute;
    top: -1.2rem;
    z-index: 2;
    /* overflow-y: visible !important; */
}
.cont3{
    position: relative;
    min-height: 50vh;
    font-family: var(--overpass);
    margin-top: 2rem;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    border-radius: 0 8rem 0 8rem;
    background: linear-gradient(to right,var(--vdgblue),var(--vdsatblue));
    overflow-y: hidden;
    overflow-x: hidden;
}
@media screen and (max-width:400px) {
    .cont3{
        height: 70vh;
    }
}
.cont3 .circles{
    z-index: 1;
    position: absolute;
    top: -130%;
    left: -10%;
}
.cont3 .text{
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 50%;
    color: white;
    padding: 3rem;
}
.cont3 h2{
    font-size: 3rem;
}
.cont3 p{
    margin-top: 1.3rem;
    /* background: url(images/icon-hamburger.svg); */
    font-size: 1rem;
    letter-spacing: 0.2rem; 
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}
/* try placing the images inside cont2 and use positionbottom */
.cont4{
    /* margin-top: ; */
    font-family: var(--overpass);
    display: flex;
    padding: 2rem;
    padding-left: 0;
}
.cont4 .sideimg img{
    margin-left: -20rem;
}
.cont4 .sideimg .lapmob{
    display: none;
}
.cont4 .text{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cont4 .sideimg, .cont4 .text{
    width: 50%;
}
.cont4 .text h2{
    color: var(--vdsatblue);
    font-size: 2rem;
    margin-bottom: 2rem;
}
.cont4 .text p{
    color: hsl(207, 13%, 34%);
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
}
.cont5{
    font-family: var(--overpass);
    border-radius: 0 100px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: hsl(240, 10%, 16%);
}
.cont5 .logo{
    padding-top: 4rem;
}
.cont5 ul{
    color: white;
    margin: 5rem 0;
}
.cont5 ul p{
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}
.cont5 ul li{
    font-size: 1.2rem;
    padding: 0.5rem;
}
.navbar{
    position: relative;
}
/* .connectDropdown li{
    padding: 1rem 0rem;
    padding-left: 1rem;
    width: 10rem;
}
.connectDropdown ul li p{
    text-align: left;
}

.connectDropdown ul{
    /* position: absolute;
    bottom: -1rem; */
    /* width: fit-content;
    display: flex;
    text-decoration: none;
    color: black;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
} */
#signupbtnandstforfree:hover,#signupbtnandstforfree p:hover{
    background-color: hsl(355, 100%, 74%);
    color: white;
}
.cont1>ul{
    position: absolute;
    z-index: 5;
    /* z-index: 2; */
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}
.cont1>ul li{
    padding: 1rem 2rem;
}